body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    font-family: 'M PLUS 1 Code', sans-serif;
  }

  a:visited,
  a:active {
    text-decoration: none;
  }

  a:hover {
    border: black solid 1px;
    border-radius: 10px;
    color: blue;
  }
  
  .visite-bar {
    background-color: #7fff00; /* Citron vert */
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid black;
    border-collapse: unset;
  }
  
  .logo {
    font-size: 24px;
  }


  .logo a {
    text-decoration: none;
  }
  
  .site-name {
    font-weight: bold;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  

  .sidebar a {
    display: block;
  }


.main_body {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 200px; 
  background-color: #f4f4f4;
  padding-top: 50px;
  border: 1px solid black;
  padding: 1px;
}

.sidebar a {
  text-align: center;
  margin: 10px;
}

.content {
  flex: 1; 
  background-color: #fff;
  padding: 20px;
  padding-top: 100px;
  padding-left: 100px;
  font-family: 'M PLUS 1 Code', sans-serif;
  box-shadow: inset;
  border: 1px solid black;
}