body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
  }

  a:visited,
  a:active {
    text-decoration: none;
  }

  a:hover {
    border: black solid 1px;
    border-radius: 10px;
    color: blue;
    padding: 8px;
  }
  
  .visite-bar {
    background-color: #7fff00;
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
    border: 1px solid black;
    position: fixed; 
    width: 100%; 
    z-index: 999; 
}


  .logo a {
    text-decoration: none;
  }
  
  .site-name {
    font-weight: bold;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  

  .sidebar a {
    display: block;
  }

  .sidebar a {
    text-align: center;
    margin: 10px;
  }
  

.main_body {
  display: flex;
  height: auto;
  border: 1px solid black;
  border-bottom: none;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0; 
  height: 100%; 
  width: 200px; 
  background-color: #aaff55;
  padding-top: 50px; 
  border: 1px solid black;
  border-top: none;
  margin-top: 50px;
}

.content {
  margin-left: 200px; 
  width: 100%;
  padding-top: 100px; 
  font-family: 'M PLUS 1 Code', sans-serif;
  background-color: ffffff;
}


.flex-item {
  flex: 1; 
  margin-left: 20px;
}

#content-1,
#content-2,
#content-3,
#content-4 {
  border: 1px black solid ;
  padding: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

#content-1,
#content-2,
#content-3,
#content-4 p{
  text-align: center;
}

#content-1,
#content-2,
#content-3,
#content-4 h2 {
  margin-left: 50px;
}


.logo {
  height: 50px;
  width: 50px;
  margin-left: 25px;
}

.logo a:hover {
  border: none;
}